#main {
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    padding: 8px 8px 24px 8px;
}

#topbar {
    height: 60px;
    padding: 0px 8px;
}

#title {
    font-size: 24px;
    font-weight: 500;
    color: var(--c-text-bold);
    font-family: var(--font-emphasis);
}

#content {
    padding: 24px 16px;
    border-radius: 16px;
    background: var(--c-content-bg);
}

#content .subheading {
    font-size: 15px;
    font-weight: 500;
    color: var(--c-text-muted);
    font-family: var(--font-emphasis);
}
#content .heading {
    font-size: 18px;
    font-weight: 500;
    color: var(--c-text-bold);
    font-family: var(--font-emphasis);
}
#content .description {
    line-height: 1.4;
}

#resultCont {
    border-radius: 16px;
    background: var(--c-textbox-bg);
    border: 1px solid var(--c-textbox-border);
    overflow: hidden;
}

#result {
    padding: 16px;
    overflow: auto;
    max-height: 500px;
}

#result p:last-child {
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-emphasis);
    color: var(--c-text-bold);
    margin: 1em 0px 0.8em 0px;
}
h1 { font-size: 28px; font-weight: 600; }
h2 { font-size: 24px; font-weight: 600; }
h3 { font-size: 20px; font-weight: 500; }
h4 { font-size: 18px; font-weight: 500; }
h5 { font-size: 16px; font-weight: 400; }
h6 { font-size: 15px; font-weight: 400; }

p, li {
    font-family: var(--font-regular);
    font-size: 15px;
    color: var(--c-text-default);
    line-height: 1.5;
    margin: 0px 0px 0.8em 0px;
}

li {
    margin-bottom: 0.5em;
}

ul, ol {
    margin: 0px;
    padding: 0px 0px 0px 1.5em;
}

b, strong {
    font-weight: bold;
    color: var(--c-text-bold);
}

hr {
    border: 0;
    border-top: 1px solid var(--c-bg-50);
    margin: 1em 0px;
}