#main {
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 8px 8px 24px 8px;
}

#topbar {
    height: 60px;
    padding: 0px 8px;
}

#title {
    font-size: 24px;
    font-weight: 500;
    color: var(--c-text-bold);
    font-family: var(--font-emphasis);
}

#content {
    padding: 24px 16px;
    border-radius: 16px;
    background: var(--c-content-bg);
}

#content .subheading {
    font-size: 15px;
    font-weight: 500;
    color: var(--c-text-muted);
    font-family: var(--font-emphasis);
}
#content .heading {
    font-size: 18px;
    font-weight: 500;
    color: var(--c-text-bold);
    font-family: var(--font-emphasis);
}
#content .description {
    line-height: 1.4;
}

#resultCont {
    border-radius: 16px;
    background: var(--c-textbox-bg);
    border: 1px solid var(--c-textbox-border);
    overflow: hidden;
}

#result {
    padding: 16px;
    overflow: auto;
    max-height: 500px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-emphasis);
    color: var(--c-text-bold);
    margin: 1em 0px 0.8em 0px;
}
h1 { font-size: 28px; font-weight: 600; }
h2 { font-size: 24px; font-weight: 600; }
h3 { font-size: 20px; font-weight: 500; }
h4 { font-size: 18px; font-weight: 500; }
h5 { font-size: 16px; font-weight: 400; }
h6 { font-size: 15px; font-weight: 400; }

p, li {
    font-family: var(--font-regular);
    font-size: 15px;
    color: var(--c-text-default);
    line-height: 1.5;
    margin: 0px 0px 0.8em 0px;
}

li {
    margin-bottom: 0.5em;
}

ul, ol {
    margin: 0px;
    padding: 0px 0px 0px 1.5em;
}

h1:first-child, h2:first-child, h3:first-child,
h4:first-child, h5:first-child, h6:first-child,
p:first-child, li:first-child, ul:first-child,
ol:first-child {
    margin-top: 0px;
}
h1:last-child, h2:last-child, h3:last-child,
h4:last-child, h5:last-child, h6:last-child,
p:last-child, li:last-child, ul:last-child,
ol:last-child {
    margin-bottom: 0px;
}

b, strong {
    font-weight: bold;
    color: var(--c-text-bold);
}

hr {
    border: 0;
    border-top: 1px solid var(--c-bg-50);
    margin: 1em 0px;
}

code {
    font-family: monospace;
}
code:not(pre code) {
    padding: 2px 6px;
    background: var(--c-code-bg);
    border: 1px solid var(--c-code-border);
    color: var(--c-code-text);
    border-radius: 4px;
    word-break: break-word;
}
pre {
    border-radius: 8px;
    background: var(--c-code-bg);
    border: 1px solid var(--c-code-border);
    color: var(--c-code-text);
    overflow: hidden;
}
pre code {
    display: block;
    padding: 8px 12px;
    max-width: 100%;
    overflow: auto;
    line-height: 1.4;
    font-size: 15px;
}